



<md-toolbar>
  <div class="md-toolbar-tools">
    <p>
      <b>RPS Warfare</b>
    </p>

    <md-button ng-show="firebaseUser" ng-click="games.openSidebar()">
      <md-icon class="mdi mdi-plus-circle"></md-icon>
      GAME DASHBOARD
    </md-button>

    <div ng-show="firebaseUser">
      <p>Hello {{ firebaseUser.displayName }}! <md-button ng-click="auth.$signOut()">Sign Out</md-button></p>
    </div>

    <div ng-hide="firebaseUser">
      <md-button ng-click="games.openRightSidebar()">
        <md-icon class="mdi mdi-plus-circle"></md-icon>
        LOGIN TO PLAY
      </md-button>
    </div>

  </div>
</md-toolbar>

<div class="modalbackground hide"></div>

<div class="message-wrapper" layout="row" layout-align="center">
	<div id="message" class="message">
		<!-- <h5>{{view.mode}}</h5> -->
		<p class="flow-text">{{ view.message }}</p>
	</div>
</div>


<section id="reserve" class="menu-wrapper hide">
	<button id="close" class="menu-btn">
		<i id="centerLock"></i>
		<i></i>
		<i></i>
		<span class="ripple"></span>
	</button>

	<ul class="menu">
		<li class="menuitem-wrapper">
			<div id="unit2" class="icon-holder hide">
				<a href="#" class="menu-item">
						<img class="icon" src="images/rock.png" alt="rock">
				</a>
			</div>
			<svg class="circle-holder">
				<circle r="88" cx="50%" cy="50%" fill="none">
				</circle>
			</svg>
		</li>
		<li class="menuitem-wrapper">
			<div id="unit3" class="icon-holder hide">
				<a href="#" class="menu-item">
						<img class="icon" src="images/paper.png" alt="rock">
				</a>
			</div>
			<svg class="circle-holder">
				<circle r="88" cx="50%" cy="50%" fill="none">
				</circle>
			</svg>
		</li>
		<li class="menuitem-wrapper">
			<div id="unit4" class="icon-holder hide">
				<a href="#" class="menu-item">
						<img class="icon" src="images/scissors.png" alt="rock">
				</a>
			</div>
			<svg class="circle-holder">
				<circle r="88" cx="50%" cy="50%" fill="none">
				</circle>
			</svg>
		</li>
		<li class="menuitem-wrapper">
			<div id="unit5" class="icon-holder hide">
				<a href="#" class="menu-item">
						<img class="icon" src="images/rock.png" alt="rock">
				</a>
			</div>
			<svg class="circle-holder">
				<circle r="88" cx="50%" cy="50%" fill="none">
				</circle>
			</svg>
		</li>
		<li class="menuitem-wrapper">
			<div id="unit6" class="icon-holder hide">
				<a href="#" class="menu-item">
						<img class="icon" src="images/paper.png" alt="rock">
				</a>
			</div>
			<svg class="circle-holder">
				<circle r="88" cx="50%" cy="50%" fill="none">
				</circle>
			</svg>
		</li>
		<li class="menuitem-wrapper">
			<div id="unit1" class="icon-holder hide">
				<a href="#" class="menu-item">
						<img class="icon" src="images/scissors.png" alt="rock">
				</a>
			</div>
			<svg class="circle-holder">
				<circle r="88" cx="50%" cy="50%" fill="none">
				</circle>
			</svg>
		</li>
	</ul>
</section>

<ul id="grid" class="categories clr">
</ul>

<div class="spacer"></div>


<ui-view></ui-view>
