



<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-open="newgame.sidenavOpen">
 <!-- md-disable-backdrop="true" -->


  <md-toolbar style="display:inline-block">
    <h1 class="md-toolbar-tools">GAME DASHBOARD
      <md-button ng-click="newgame.closeSidebar()" style="width:30px;height:30px;padding:0;margin-left:10px;"
      aria-label="closeRightSidebar">
        <md-icon class="mdi mdi-close"></md-icon>
      </md-button>
    </h1>
  </md-toolbar>


  <md-content layout-padding>
      <form>
        <p style="text-align:center;">
          <img style="border-radius:8px;width:100px" ng-src={{firebaseUser.photoURL}} alt={{firebaseUser.displayName}} /><br>
          {{firebaseUser.displayName}}
        </p>

        <!-- <md-input-container>
          <label for="way3tester">Test 3-Way Databinding</label>
          <input type="text" ng-model="gameObj.gameStatus.AP" aria-label="way3tester" id="way3tester">
        </md-input-container> -->

        <md-input-container ng-show="friendList">
          <div ng-repeat="friend in friendList">
            <img ng-src={{friend.photoURL}} style="border-radius:25px;width:50px" alt={{friend.displayName}} /><br>
            {{friend.displayName}}
            <md-button aria-label="Play RPS" ng-click="newgame.initGame(friend.key)">
              Play RPS
            </md-button>
          </div>
        </md-input-container>

        <md-input-container>
          <p>
            <label for="friendfinder">Find Friends by Email To Play With</label>
            <input type="text" ng-model="match" aria-label="Search for Friends" id="friendfinder">

                <div ng-show="match.length" ng-repeat="user in users | filter:{email:match} | filter:match:true | limitTo:1">
                  <img ng-src={{user.photoURL}} style="border-radius:25px;width:50px" alt={{user.displayName}} /><br>
                  {{user.displayName}}
                  <md-button aria-label="add a friend" ng-click="newgame.addFriend(user.$id)">
                    Add Friend
                  </md-button>
                </div>

          </p>
        </md-input-container>

        <md-input-container>
          <!-- <md-button ng-click="newgame.createNewGame(games)" class="md-primary">
            Start RPS Warfare
          </md-button> -->
          <md-button ng-click="newgame.initGame(player2email)">Start RPS Warfare</md-button>
        </md-input-container>
        <!-- <pre>
          {{firebaseUser | json}}
          {{allUsers | json}}
        </pre> -->
      </form>

    </md-content>


  </md-sidenav>
